# Ignore build folders and compiled artifacts
build/
install/
exe/
*.o
*.so
*.a
*.bin
*.out
CMakeCache.txt
CMakeFiles/
.vscode/

# Ignore live telemetry, attack logs, and COSMOS outputs
nos3/attack_logs/
nos3/gsw/cosmos/outputs/
nos3/omni_logs/

# General log file ignore
*.log
nos3/fsw_syslog_test.txt

# Generated repo tree
repo_tree.txt
